.heading{
    width: 100%;
    text-align: left;
    font-family: 'Rubik Glitch', cursive;
    font-size: 30px;
    
}
.heading h3{
   display: inline;
   font-family: 'Rubik Glitch', cursive;
   font-size: 50px;
   text-shadow:50px black;
   
}
.heading button{
   float: right;
   border: 1px solid white;
   font-family: 'Bebas Neue', cursive;
   font-size: 30px;
 }
 .big_image{
    width: 100%;
 }
 #start, #status{
    font-size: 30px;
    font-family: 'Nerko One', cursive;
    font-weight: 500;
 }
 body{
   background: url("background.jpg");
 }
 h4{
   background-color: #fff;
   line-height: 2;
   margin: 0px;
  
 }
 .modal-dialog{
   width: 90%;
 }
 .instruction_image{
   display: inline-block;
   width: 45%;
 }
 video{
   background: url('game_console.png');
   background-size: cover;
   background-position: center;
   padding: 25px;
 }